.categories {
  padding: 6rem 3rem 1rem 5rem;
  color: var(--text-color-primary);
  background-color: var(--background-color);
  position: fixed;
  z-index: 1;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.gap-large {
  gap: 2rem;
}

.category-color {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.item {
  cursor: pointer;
  font-size: 0.875rem;
  padding: 8px 10px;
  border-radius: 2rem;
}

.border-bottom {
  border-bottom: 1px solid var(--text-color-primary);
}

.button.btn-filter {
  padding: 8px 1rem;
  border-radius: 2rem;
  border: 1px solid var(--accent-color);
  position: fixed;
  right: 2rem;
  top: 6rem;
}

.btn-filter:hover,
.btn-category:hover {
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
}

.button.btn-category {
  padding: 0;
  top: 6rem;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  color: var(--text-color-primary);
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.btn-right {
  right: 10rem;
}

.btn-left {
  left: 2rem;
}

.categories-list {
  display: flex;
  overflow-x: auto;
  flex: 1;
  gap: 1rem;
  padding: 0 2rem;
}
